.progress {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2px;
  width: 0%;
  transition: width 0.2s, opacity 0.4s;
  opacity: 1;
  background-color: #ffca2b;
  z-index: 999999;
}

.progres-bar.is-hidden { opacity: 0 }
.progress-bar.has-error { background-color: #ff0000 }
