:root {
  --color-primary: #5c6ac4;
  --color-secondary: #ecc94b;
}

:root {
  --color-primary: #2db564;
  --color-secondary: #2e86de;
  --color-tertiary: #ed8936;
  --color-danger: #d32f2f;
  --color-modal-button: #d0021b;
  --color-facebook: #3b5998;
  --color-emailer: #00a6d9;
  --color-sms: #57af7b;
  --color-copy: #00999e;
  --color-secondary-stroke: #7f8fa4;
  --color-text: #4a4a4a;
  --color-disable-gray: #efefef;
  --color-bg-tooltip: #eef2f7;
  --color-white: #f9fafc;
  --color-bg-white: #f9f9f9;
  --color-header-light: #027ed7;
  --color-header-dark: #02098a;

  /* Examples  */
  --color-bg-primary: #0252cc;
  --color-bg-secondary: #ffc402;
  --color-bg-default: #fff;
  --color-bg-inverse: #fff;
  --color-text-primary: #fff;
  --color-text-secondary: #755f17;
  --color-text-default: #444;
  --color-text-default-soft: #999;
  --color-text-inverse: #444;
  --color-text-inverse-soft: #999;
  --font-display: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-weight-normal: 400;
  --font-weight-display: 400;
  --font-weight-btn: 600;
  --rounded-btn: .25rem;
}

/*! purgecss start ignore */
.theme-dark_gray {
  --color-header-dark: #323232;
  --color-header-light: #5f5f5f;
}

.theme-light_gray {
  --color-header-dark: #9ea8b2;
  --color-header-light: #e0efff;
}

.theme-red {
  --color-header-dark: #b5151a;
  --color-header-light: #ff5459;
}

.theme-dark_red {
  --color-header-dark: #710807;
  --color-header-light: #e20f0d;
}

.theme-red_orange {
  --color-header-dark: #ff4523;
  --color-header-light: #ff8e79;
}

.theme-green {
  --color-header-dark: #027548;
  --color-header-light: #00b16c;
}

.theme-dark_green {
  --color-header-dark: #042;
  --color-header-light: #038042;
}

.theme-light_green {
  --color-header-dark: #2ecc71;
  --color-header-light: #79ffb2;
}

.theme-blue {
  --color-header-dark: #3237a8;
  --color-header-light: #484ff8;
}

.theme-light_blue {
  --color-header-dark: #2fc2ef;
  --color-header-light: #b1edff;
}

.theme-light_orange {
  --color-header-dark: #ef852e;
  --color-header-light: #ffb477;
}

.theme-purple {
  --color-header-dark: #684f79;
  --color-header-light: #aa80c6;
}


/*! purgecss start ignore */
.theme-dark {
  --color-bg-primary: #c0b283;
  --color-bg-secondary: #dcd0c0;
  --color-bg-default: #f4f4f4;
  --color-bg-inverse: #373737;
  --color-text-primary: #fff;
  --color-text-secondary: #927e7e;
  --color-text-default: #373737;
  --color-text-default-soft: #6a6a6a;
  --color-text-inverse: #fff;
  --color-text-inverse-soft: #bbb;
  --font-display: Georgia, Times, "Times New Roman", serif;
  --font-body:
    Corbel,
    "Lucida Grande",
    "Lucida Sans Unicode",
    "Lucida Sans",
    "DejaVu Sans",
    "Bitstream Vera Sans",
    "Liberation Sans",
    Verdana,
    "Verdana Ref",
    sans-serif;
  --font-weight-normal: 400;
  --font-weight-display: 400;
  --font-weight-btn: 600;
  --rounded-btn: 0;
}

/* :focus:not(:focus-visible) { outline: none } */


.slide-transition {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(50px);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-50px);
}

/*  */
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

/*  */
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

/*  */
.layout-enter-active, .layout-leave-active {
  transition: opacity .5s;
}

.layout-enter, .layout-leave-active {
  opacity: 0;
}

/*  */
.bounce-enter-active {
  animation: bounce-in .5s;
}

.bounce-leave-active {
  animation: bounce-out .5s;
}

@keyframes bounce-in {
  0% { transform: scale(0); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

@keyframes bounce-out {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(0); }
}
