
:root {
  --blue-050: rgb(220, 238, 251);
  --blue-100: rgb(182, 224, 254);
  --blue-200: rgb(132, 197, 244);
  --blue-300: rgb(98, 176, 232);
  --blue-400: rgb(64, 152, 215);
  --blue-500: rgb(38, 128, 194);
  --blue-600: rgb(24, 111, 175);
  --blue-700: rgb(15, 96, 155);
  --blue-800: rgb(10, 85, 140);
  --blue-900: rgb(0, 62, 107);
  --blue-grey-050: rgb(240, 244, 248);
  --blue-grey-100: rgb(217, 226, 236);
  --blue-grey-200: rgb(188, 204, 220);
  --blue-grey-300: rgb(159, 179, 200);
  --blue-grey-400: rgb(130, 154, 177);
  --blue-grey-500: rgb(98, 125, 152);
  --blue-grey-600: rgb(72, 101, 129);
  --blue-grey-700: rgb(51, 78, 104);
  --blue-grey-800: rgb(36, 59, 83);
  --blue-grey-900: rgb(16, 42, 67);
  --purple-050: rgb(234, 226, 248);
  --purple-100: rgb(207, 188, 242);
  --purple-200: rgb(160, 129, 217);
  --purple-300: rgb(134, 98, 199);
  --purple-400: rgb(114, 75, 183);
  --purple-500: rgb(101, 60, 173);
  --purple-600: rgb(81, 39, 155);
  --purple-700: rgb(66, 25, 135);
  --purple-800: rgb(52, 18, 111);
  --purple-900: rgb(36, 7, 84);
  --red-050: rgb(255, 238, 238);
  --red-100: rgb(250, 205, 205);
  --red-200: rgb(242, 155, 155);
  --red-300: rgb(230, 106, 106);
  --red-400: rgb(214, 69, 69);
  --red-500: rgb(186, 37, 37);
  --red-600: rgb(166, 27, 27);
  --red-700: rgb(145, 17, 17);
  --red-800: rgb(120, 10, 10);
  --red-900: rgb(97, 4, 4);
  --space-l: 48px;
  --space-m: 24px;
  --space-s: 16px;
  --space-xl: 64px;
  --space-xs: 8px;
  --space-xxl: 128px;
  --space-xxs: 4px;
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-2: 0.5rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-3: 0.75rem;
  --spacing-32: 8rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-px: 1px;
  --teal-050: rgb(239, 252, 246);
  --teal-100: rgb(198, 247, 226);
  --teal-200: rgb(142, 237, 199);
  --teal-300: rgb(101, 214, 173);
  --teal-400: rgb(62, 189, 147);
  --teal-500: rgb(39, 171, 131);
  --teal-600: rgb(25, 148, 115);
  --teal-700: rgb(20, 125, 100);
  --teal-800: rgb(12, 107, 88);
  --teal-900: rgb(1, 77, 64);
  --text-2-xl: 1.5rem;
  --text-2-xs: 0.625rem;
  --text-3-xl: 1.875rem;
  --text-4-xl: 2.25rem;
  --text-5-xl: 3rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-sm: 0.875rem;
  --text-xl: 1.25rem;
  --text-xs: 0.75rem;
  --yellow-050: rgb(255, 250, 235);
  --yellow-100: rgb(252, 239, 199);
  --yellow-200: rgb(248, 227, 163);
  --yellow-300: rgb(249, 218, 139);
  --yellow-400: rgb(247, 208, 112);
  --yellow-500: rgb(233, 185, 73);
  --yellow-600: rgb(201, 154, 46);
  --yellow-700: rgb(162, 124, 26);
  --yellow-800: rgb(124, 94, 16);
  --yellow-900: rgb(81, 60, 6);
}
