$app-width: 500px;
$app-height: 100vh;
$app-highlight: #f1bf9d;
$app-border: #474242;
$app-background: #1d1f20;

@import './variables/tokens.scss';


@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}